<%= category.name %>
<div class= "card_category">
  <p class= 'card_category_label'><%= category.name %></p>
  <%= image_tag "https://res.cloudinary.com/fit-ts/image/upload/v1654531421/fit/garments/#{category.code}.png"%>
</div>
