<h3>Choisissez une matière</h3>

<% selection = Fabric.where("shape_id = :shape_id", { shape_id: "#{@garment.shape_id}" }) %>

<%= simple_form_for @garment do |f| %>
  <%= f.input :fabric_id, required: true, as: :radio_buttons, collection: selection %>
  <%= f.button :submit %>
<% end %>
