<h2>Choisissez la forme de votre vêtement</h2>

<%= simple_form_for @garment do |f| %>
  <%= f.input :shape_id, required: true, as: :radio_buttons, collection: Shape.all%>
  <%= f.button :submit %>
<% end %>
