<h2>Choisissez la forme de votre vêtement</h2>

<% shape_selection = Shape.where("category_id = :category_id", { category_id: "#{@garment.category_id}" }) %>

<%= simple_form_for @garment do |f| %>
  <% shape_selection.each do |shape| %>
    <label>
      <%= f.radio_button(:shape_id, shape.id) %>
      <%= image_tag(@garment.image_name, size: "250x250") %>
    </label>
  <% end %>
  <%= f.button :submit %>
<% end %>
