<h3>Choisissez une matière</h3>

<%= simple_form_for @garment do |f| %>
  <%= f.input :fabric_id, required: true, as: :radio_buttons, collection: Fabric.all, required: true %>
  <%= f.button :submit %>
<% end %>
