<h2>Vos vêtements</h2>


<% @garments.each do |garment| %>
  <li>
    <% if asset_exists?(garment.image_name) %>
      <%= link_to image_tag(garment.image_name, size: "250x250"), garments_path(garment.id) %>
    <% else %>
      <%= link_to image_tag("karl.jpg", size: "180x250"), garments_path(garment.id) %>
    <% end %>
  </li>
<% end %>
