<h2>Créez votre vêtement</h2>

<h3>Choisissez une catégorie</h3>



<%= simple_form_for @garment do |f| %>
  <%= f.input :category_id, as: :radio_buttons, collection: Category.all %>
  <%= f.button :submit %>
<% end %>
