<h2>Créez votre vêtement</h2>

<h3>Choisissez une catégorie</h3>

<%= simple_form_for @garment do |f| %>
  <%= f.input :category_id, input_html: { class: 'card_category' }, as: :radio_buttons, collection: Category.all, label_method: lambda { |category| render "garments/category_label", category: category } %>
  <%= f.button :submit %>
<% end %>
