<h2>Votre vêtement</h2>
  <div class="container">
    <div class="card">
      <div class="image">
        <%= image_tag(@garment.image_name, size: "250x250") %>
      </div>
      <div class="content">
        <h3>This is your FIT</h3>
        <p>DIn publishing and graphic design, Lorem ipsum is a placeholder text               commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
      </div>
    </div>
  </div>
