//card edit aligner à l'horizontal
.card_align {
    display: flex;
    justify-content: space-between;
}

.card_align1 {
    display: flex;
    justify-content: space-around;
}

.max-content {
  width: max-content;
}

#title_edit_shape{
  font-family: 'Rajdhani', sans-serif;
  display: flex;
  flex: 1;
  font-size: xx-large;
  text-decoration: underline;
  margin: auto;
  width: 264px;
  height: 70px;
  text-align: center;
}
