#titre_edit_fabric{
  font-family: 'Rajdhani', sans-serif;
  font-size: xx-large;
  text-decoration: underline;
  margin: auto;
  height: 70px;
  text-align: center;
  margin-top: 50px;
}

.button-fabric{
  //background-color: rgb(207, 189, 158);
  margin-top: 6%;
  //margin: auto;
  //padding: 15px;
  font-family: 'Special Elite', cursive;
  border-radius: 24px;
  //padding: 0px;
  width : fit-content;
  margin-left: 48px;
  border-color: grey;
  //border-style: solid;
}



.image_garment_simulation{
  left: auto;
  outline-color: black;
  outline-style: dashed;
  border-radius: 30px;
  background-color: white;
}

.width_for_square_container{
  width: 320px;
}

.fabric_name_for_square{
  font-family: Rajdhani, sans-serif;
}


.dash {
  outline-color: black;
  outline-style: dashed;
  border-radius: 30px;
}

.border {
  border-radius: 30px;
}
