// Specific CSS for your home-page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #060608;
  --color: #FAFAFA;
}


.container_home {
  display: flex;
  justify-content: space-between;
  justify-items: left;
  color: var(--color);
  font-size: 1.5rem;
  display: flex;
  background-color: rgb(207, 189, 158);
  border-radius: 30px;
  margin-top: 100px;
}

.div_container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.right {
  text-align: left;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}



#hero-main{
  position: relative;
  padding-top: 2%;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;

}

.text-box-hero-button{
  .button_fabric_hero{
position: absolute;
  display: flex;
 color: black;
top: 72%;
left: 80%;
background-color: rgb(187, 161, 117);
font-family: 'Rajdhani', sans-serif;
color: #fff;
}


}

.button_fabric_hero:link,
.button_fabric_hero:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 35px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.button_fabric_hero:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button_fabric_hero:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button_fabric_hero-white {
  background-color: #fff;
  color: #777;
}

.button_fabric_hero::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.button_fabric_hero-white::after {
  background-color: #fff;
}

.button_fabric_hero:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button_fabric_hero-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}
///////////////////////////////////////

.text-box-hero-button{
  .button_model_hero{
position: absolute;
  display: flex;
 color: black;
top: 147%;
left: 48%;
background-color: rgb(187, 161, 117);
font-family: 'Rajdhani', sans-serif;
color: #fff;
}


}

.button_model_hero:link,
.button_model_hero:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 35px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.button_model_hero_hero:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button_model_hero:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button_model_hero-white {
  background-color: #fff;
  color: #777;
}

.button_model_hero::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.button_model_hero-white::after {
  background-color: #fff;
}

.button_model_hero:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button_model_hero-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}


.wrapper_fit {
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
}

.card_fit {
  grid-area: 1 / 1;
  height: 100px;
  width: 200px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

.button_title {
  font-size: 100px;
}

.card_fit .enclosed {
  background: rgb(207, 189, 158) 5px;
;
  line-height: 1;
  color: white;
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  transform-origin: right center;
  font-family: ‘Rajdhani’, sans-serif;
}

.wrapper_fit:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid #000;
  box-sizing: content-box;
}


.wrapper_fit:hover > div,
.wrapper_fit:hover:before {
  transform: none;
}


.wrapper_fit > div,
.wrapper_fit:before {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25,.46,.45,1);
}


.div_fit {
  display: grid;
  place-items: center;
  margin-top: 50px
}

.ul_carrousel {
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.div_carrousel {
  display: flex;
}

.ul_carrousel > .li_carrousel {
  width: 25%;
  list-style-type: none;
  position: absolute;
  padding: 20px;
  height: 200px;
  opacity: 0;
  padding-top: 40px;
  text-align: center;
}

.active_carrousel {
  opacity: 1;
}

.p_carrousel {
  font-size: 30px;
  color: white;
  line-height: 1.5em;
  font-family: ‘Rajdhani’, sans-serif
}

.strong_carrousel {
  color: #fff;
  font-weight: 700;
  font-size: 80px;
  font-family: ‘Rajdhani’, sans-serif;
  line-height: 100px;
}

@keyframes fader {
  0% {opacity: 0}
  100% {opacity: 1}
}

.li_carrousel {
  opacity: 0;
  animation: fader 10s linear forwards;
  margin-left: 100px;
}

.first_anim {
  animation-delay: 2s;
}

.second_anim {
  animation-delay: 4s;
}

.third_anim {
  animation-delay: 6s;
}
