.new_checkout_summary_title{
  margin-left: 28px;
  font-family: "Rajdhani", sans-serif;
  text-decoration: underline;
}

.new_checkout_summary_subtitle{
  font-family: "Rajdhani", sans-serif;
  margin-right: 500px;
  text-align: start;
  margin-left: 28px;
}

.btn-purchase_1{
  width: 132px;
  //margin-left: 66px;
  background-color: white;
  color: black;
  border-color: rgb(207, 189, 158);
  border-radius: 34px;
  margin: -4px;
  margin-right: 2px;
  margin-left: 80px;
}

.new_checkout_summary_subtitle_list{
font-family: "Rajdhani", sans-serif;
  margin-right: 500px;
  list-style-type: none;
  text-align: start;

}
