.your_fit_title{
  font-family: 'Rajdhani', sans-serif;
  font-size: xx-large;
  text-decoration: underline;
  margin: auto;
  height: 30px;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
  font-family: Rajdhani, sans-serif;
}

.your_fit_subtitle{

  text-decoration: underline;
  font-family: Rajdhani, sans-serif;
}


.container_show {
  background-color: rgb(207, 189, 158);
  border-radius: 30px;
  margin-top: 100px;
  font-family: Rajdhani, sans-serif;
}

// .container_show .card {
//   position: relative;
// }

.centrage {
  text-align: center;
}
