<div class="buttons">
  <%= link_to garment_edit_selected_path(garment) do %>
    <button class="blob-btn">
    Finished
      <span class="blob-btn__inner">
        <span class="blob-btn__blobs">
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
        </span>
      </span>
    </button>
  <% end %>
</div>
