<div class="footer">
  <div class="footer-links">

      <span class="icon" data-tooltip="Instagram">
        <i class="ri-instagram-line"></i>
      </span>
    <%# <a href="#"><i class="icon" class="fab fa-instagram"></i> </a>%>

      <span class="icon" data-tooltip="Facebook">
        <i class="ri-facebook-line"></i>
      </span>
   <%#  <a href="#"><i class="fab fa-facebook"></i></a>%>

    <span class="icon" data-tooltip="Twitter">
        <i class="ri-twitter-line"></i>
      </span>
   <%#  <a href="#"><i class="fab fa-twitter"></i></a>%>


    <span class="icon" data-tooltip="Linkedin">
        <i class="ri-linkedin-line"></i>
      </span>
    <%#  <a href="#"><i class="fab fa-linkedin"></i></a>%>

  </div>
  <div class="footer-copyright">

    Your clothe is made with <i class="fas fa-heart"></i> by FIT: Estée, Balt, Charly, Vira
  </div>

</div>
