<div class="footer">
  <div class="footer-links">


      <a onclick="window.open('https://giphy.com/embed/26gR1MBCT3ZEfAPHW')" class="icon" data-tooltip="Instagram">
        <i class="ri-instagram-line"></i>
      </a>
    <%# <a href="#"><i class="icon" class="fab fa-instagram"></i> </a>%>

      <a onclick="window.open('https://giphy.com/embed/l2QE2CQyK2ZyVEGJy')" class="icon" data-tooltip="Facebook">
        <i class="ri-facebook-line"></i>
      </a>
   <%#  <a href="#"><i class="fab fa-facebook"></i></a>%>

      <a onclick="window.open('https://giphy.com/embed/EVFWxj30oU64iXNZ9f/video')" class="icon" data-tooltip="Twitter">
        <i class="ri-twitter-line"></i>
      </a>
   <%#  <a href="#"><i class="fab fa-twitter"></i></a>%>

      <a onclick="window.open('https://giphy.com/embed/d3mlE7uhX8KFgEmY')" class="icon" data-tooltip="Linkedin">
        <i class="ri-linkedin-line"></i>
      </a>
    <%#  <a href="#"><i class="fab fa-linkedin"></i></a>%>
  </div>
  <div class="footer-copyright">

    Your clothes are made with <i class="fas fa-heart"></i> by FIT: Estée, Balt, Charly, Vira
  </div>

</div>
