<div class="footer">
  <div class="footer-links">


      <a href="https://www.instagram.com/?hl=fr" class="icon" data-tooltip="Instagram">
        <i class="ri-instagram-line"></i>
      </a>

    <%# <a href="#"><i class="icon" class="fab fa-instagram"></i> </a>%>

      <a href="https://fr-fr.facebook.com/" class="icon" data-tooltip="Facebook">
        <i class="ri-facebook-line"></i>
      </a>
   <%#  <a href="#"><i class="fab fa-facebook"></i></a>%>

      <a href="https://twitter.com/?lang=fr" class="icon" data-tooltip="Twitter">
        <i class="ri-twitter-line"></i>
      </a>
   <%#  <a href="#"><i class="fab fa-twitter"></i></a>%>


      <a href="https://fr.linkedin.com/"class="icon" data-tooltip="Linkedin">
        <i class="ri-linkedin-line"></i>
      </a>
    <%#  <a href="#"><i class="fab fa-linkedin"></i></a>%>

  </div>
  <div class="footer-copyright">

    Your clothe are made with <i class="fas fa-heart"></i> by FIT: Estée, Balt, Charly, Vira
  </div>

</div>
