
<div class="container container_home">
  Create
  <div class="stack" style="--stacks: 3;">
    <span style="--index: 0;">YOUR</span>
    <span style="--index: 1;">YOUR</span>
    <span style="--index: 2;">YOUR</span>
  </div>
  <span class="right">Clothes</span>
</div>

<a class="div_fit" href="/garments/new">
  <div class="wrapper_fit">
    <div class="card_fit">
      <h1 class="button_title">
        <span class="enclosed">FIT</span>
      </h1>
    </div>
  </div>
</a>




<%# <div class="hero-banner">
     <%= image_tag "hero_photo_1.jpg", id:"hero-main",width: 1000, alt: "Hero main photo"%>

<%# <div class="text-box-hero-button">
    <a href="#" class="button_fabric_hero">DISCOVER OUR FABRICS!</a>
    <a href="#" class="button_model_hero">DISCOVER OUR MODELS!</a>
</div>
</div>
 %>
