<div class="hero-banner">
     <%= image_tag "hero_photo_1.jpg", id:"hero-main",width: 1000, alt: "Hero main photo"%>

<div class="text-box-hero-button">
    <a href="#" class="button_fabric_hero">DISCOVER OUR FABRICS!</a>
    <a href="#" class="button_model_hero">DISCOVER OUR MODELS!</a>
</div>
</div>
