
<div class="container container_home">
  <div class="div_container">

    Create
    <div class="stack" style="--stacks: 3;">
      <span style="--index: 0;">YOUR</span>
      <span style="--index: 1;">YOUR</span>
      <span style="--index: 2;">YOUR</span>
    </div>
    <span class="right">Clothes</span>

</div>
  <div class="div_carrousel">
    <ul class="ul_carrousel" id="c">
      <div class="div_container">
        <li class="li_carrousel first_anim"><p class="p_carrousel"><strong class="strong_carrousel">1</strong></p><p class="p_carrousel">Chose your shape</p></li>
      </div>
      <div class="div_container">
        <li class="li_carrousel second_anim"><p class="p_carrousel"><strong class="strong_carrousel">2</strong></p><p class="p_carrousel">Pick your fabric</p></li>
      </div>
      <div class="div_container">
        <li class="li_carrousel third_anim"><p class="p_carrousel"><strong class="strong_carrousel">3</strong></p><p class="p_carrousel">Customize details</p></li>
      </div>
    </ul>
  </div>
</div>


<a class="div_fit" href="/garments/new">
  <div class="wrapper_fit">
    <div class="card_fit">
      <h1 class="button_title">
        <span class="enclosed">FIT</span>
      </h1>
    </div>
  </div>
</a>




<%# <div class="hero-banner">
     <%= image_tag "hero_photo_1.jpg", id:"hero-main",width: 1000, alt: "Hero main photo"%>

<%# <div class="text-box-hero-button">
    <a href="#" class="button_fabric_hero">DISCOVER OUR FABRICS!</a>
    <a href="#" class="button_model_hero">DISCOVER OUR MODELS!</a>
</div>
</div>
 %>
