.avatar {
  width: 40px;
  border-radius: 50%;
  height: 40px;

}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar_bubble{
justify-content: end;
display: flex;
  min-width: 140px;
}

.avatar_try_on{
  padding-top: 0%;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
 margin-left: 84px;
  }

  .avatar_try_on_title{
  font-family: 'Rajdhani', sans-serif;
  font-size: xx-large;
  text-decoration: underline;
  margin: auto;
  height: 30px;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
  font-family: Rajdhani, sans-serif;
  margin-bottom: 3%;

  }
