.wrapper_delete{
  align-self: center;
}

.a_delete{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.a_delete span{
  position: relative;
  z-index: 2;
}

.a_delete:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

.a_delete:hover{
  color: #fff;
}

.a_delete:hover:after{
  width: 100%;
}
