// cards pour l'index garments
.container {
  position : relative;
  display : flex;
  align-items : center;
  justify-content : center;
  //flex-warp : warp;
  padding : 30px;
  //width: 389px;
}

.container .card {
  position: relative;
  width : 310px;
  //max-width : 300px;
  height : 300px;
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container .card:hover {
 // height : 320px;
  width: 650px;
}


.container .card .image {
  position : relative;
  width : 260px;
  height : 260px;
  //top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container .card .content {
  position : absolute;
  padding : 10px 15px;
  //color : #111;
  text-align :end;
  visibility : hidden;
  opacity : 0;
  bottom : -0px;
  //transition : 0.3s ease-in-out;

}

.container .card:hover .content {
  //margin-left : 300px;
  width: 300px;
  visibility : visible;
  opacity : 1;
  transition-delay: 0.2s;
  position: absolute;
  bottom : -0px;
  right: 0px;
}
